<% provide(:title, "Countries") %>
<div>
<h1>List of Countries</h1>

<div id="countries">
<% for country in @countries %>
  <h2>
    <%= link_to h(country.name), country %>
    <span class="relations">(<%= pluralize(country.relations.size, 'relation') %>)</span>
  </h2>
<% end %>
</div>
