<% provide(:title, "Countries") %>
<div>
<h1>List of Countries</h1>

  <% @countries.each do |country| %>
      <tr>
        <td>
          <%= link_to country.name, country_path(country) %>
          <br>
          <br>
        </td>
      </tr>
  <% end %>
</div>
