
<strong>Country:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @relation.name %>
</p>

<%= link_to "Add New Relation", new_country_relation_path(@country) %>
