@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */


@font-face {
    font-family: 'ors';
    src: url('kgalittleswag-webfont.eot');
    src: url('kgalittleswag-webfont.eot?#iefix') format('embedded-opentype'),
         url('kgalittleswag-webfont.woff2') format('woff2'),
         url('kgalittleswag-webfont.woff') format('woff'),
         url('kgalittleswag-webfont.ttf') format('truetype'),
         url('kgalittleswag-webfont.svg#kg_a_little_swagregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'foe';
    src: url('horroween-webfont.eot');
    src: url('horroween-webfont.eot?#iefix') format('embedded-opentype'),
         url('horroween-webfont.woff2') format('woff2'),
         url('horroween-webfont.woff') format('woff'),
         url('horroween-webfont.ttf') format('truetype'),
         url('horroween-webfont.svg#horroweenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'friend';
    src: url('kgonemorenight-webfont.eot');
    src: url('kgonemorenight-webfont.eot?#iefix') format('embedded-opentype'),
         url('kgonemorenight-webfont.woff2') format('woff2'),
         url('kgonemorenight-webfont.woff') format('woff'),
         url('kgonemorenight-webfont.ttf') format('truetype'),
         url('kgonemorenight-webfont.svg#kg_one_more_nightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 25%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-left: 330px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin: 1px;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  display:none;
  &:hover {
    color: white;
    text-decoration: none;
	
  }
}

.Headly {
color: #FFFFFF;
}

.friendlo {
    float: left;
    float: left;
    font-family: friend;
    font-size: 18em;
    margin-top: 8%;
	margin-left:15%;
}

.foelo {
    float: right;
	font-family: foe;
    font-size: 21em;
    margin-top: 8%;
	margin-right:15%;
}

header.navbar.navbar-fixed-top.navbar-inverse{
height:20%;
background: #6dbcdb; /* Old browsers */
background: -moz-linear-gradient(left, #6dbcdb 0%, #6dbcdb 50%, #fc4349 50%, #fc4349 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6dbcdb), color-stop(50%,#6dbcdb), color-stop(50%,#fc4349), color-stop(100%,#fc4349)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #6dbcdb 0%,#6dbcdb 50%,#fc4349 50%,#fc4349 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #6dbcdb 0%,#6dbcdb 50%,#fc4349 50%,#fc4349 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #6dbcdb 0%,#6dbcdb 50%,#fc4349 50%,#fc4349 100%); /* IE10+ */
background: linear-gradient(to right, #6dbcdb 0%,#6dbcdb 50%,#fc4349 50%,#fc4349 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dbcdb', endColorstr='#fc4349',GradientType=1 ); /* IE6-9 */
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
